/* p is a selector, while {} is a declaration, property is color, property value is red */

html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 10px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: Raleway;
}