/* p is a selector, while {} is a declaration, property is color, property value is red */

html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 16px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Raleway", sans-serif;;
}

h1 {
  margin: 0;
  padding: 40px 0;
  color: lightgoldenrodyellow;
  text-shadow: 3px 3px 1px orange;
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height:2;
  letter-spacing: 1px;
  color: white;
}

/* changing page color */

html {
  background-color: #B8E2F2;
}

body {
  width: 600px;
  margin: auto;
  background-color: #AC4C53;
  padding: 0 20px 20px 20px;
  border: 5px solid purple;
}


/* images are inline elements that do not accept margin vlaues the same as block elements-- must give it block bevior like texts*/

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.quote {
  color: darkred;

}

